/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style-type: none;
}

.container {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 0 2in;
}

.header {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a,
.hero-image,
.hero-secondary-text,
button {
  color: #E5E7EB;
}

.header a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.hero {
  padding: 1in 0;
  display: flex;
}

.hero-text,
.hero-image {
  flex: 1;
}

.hero-image {
  background-color: rgb(109, 116, 125);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  padding-right: 48px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 8px;
}

.hero-secondary-text {
  margin-bottom: 16px;
}

button {
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 24px;
}

.info {
  text-align: center;
  padding: 48px 0 1in 0;
}

.info-title {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-bottom: 48px;
}

.item-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.item {
  width: 200px;
}

.item-text {
  color: rgb(75, 85, 99);
}

.item-image {
  height: 200px;
  width: 200px;
  border: 4px solid #3882F6;
  border-radius: 10%;
  margin-bottom: 8px;
}

.quote {
  background-color: #E5E7EB;
  padding: 1in 3in;
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  color: #1F2937;
  font-size: 24px;
  font-weight: 700;
}
