/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style-type: none;
}

.container {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 18px 1in;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a,
.hero-image,
.hero-secondary-text,
button {
  color: #E5E7EB;
}

.header a {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.hero {
  display: flex;
}

.hero-text,
.hero-image {
  flex: 1;
}

.hero-image {
  background-color: rgb(109, 116, 125);
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
}

button {
  background-color: #3882F6;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 24px;
}
